body{
  font-family:Montserrat;
}
.main-container{
  background-color: orange;
}
.navbar{

  background-color:orange
}
.mealpluslogo{
  height: 100px;

}
.navbar-brand{
  font-size:2rem;
}
.colapse{
  font-size:2rem;
}
.button{
  background-color:#7B1FA2;
  color: #F3E5F5 ;

}
.rowt{
  padding:5% 3%
}
.main-h1{
  margin: 5%;
  font-size:3.5rem;
   line-height: 1.5;
   color: #fff;
}
.btn{
margin: 5%;
}
.mealplus{
  height: 600px;
  transform:rotate(12.5deg)
}
.easy{
  color: blue;
  font-size: 100px;
  margin: 10px;
}
h2{
  font-family: Montserrat;
font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-size: 1.2rem;
  font-family: Montserrat;
}

.testimonial{

  background-color: #ef8172 ;
}
.person{
  height: 100px;
  width: 100px;
}
.carousel-item{
  padding: 7% 15% ;
}
.card-deck{
  width: 1000px;
}
