div {
  background-color: #222831;
}

body {
  margin: 0;
  background-color: #393e46;
  font-family: garamond, serif;
}

h1 {
  margin-top: 0;
  padding-top: 50px;
  font-family: 'Kaushan Script', cursive;
  color: #eedad1;
}

h2 {
  font-family: helvetica, sans-serif;
  color: #eedad1;
}

h3 {
  font-family: helvetica, sans-serif;
  display: inline-block;
  color: #eedad1;
  margin: 50px auto;
}

h4 {
  position: absolute;
  left: 55%;
  bottom: 5px;
  margin: 0;
  color: #eedad1;
  word-spacing: 1px;
}
p {
  padding-left: 750px;
  color: #eeeeee;
  font-family: 'Poppins', sans-serif;
}
hr {
  border-style: none;
  border-color: gray;
  width: 10%;
  border-width: 5px;
  border-top-style: dotted;
}
a{
  color: #eedad1;
  text-decoration: none;
  font-family: helvetica, sans-serif;
}

header{

}
img{
  height: 100px;
  width: 100px;
}
.wo{
  display: inline-block;
}
.flag1{
  display: inline-inline-block;

}
.flag2{
    display: inline-inline-block;

}
.home-a{
  padding-top: 5px;
  position: absolute;
  right: 20%;
  font-size: 25px;
}
.work-a{
  padding-top: 5px;
  position: absolute;
  right: 15%;
  font-size: 25px;
}
.n {
  position: static;
}
.top {
  position: relative;
  height: 400px;
}
.top-person{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 10%;
}


.top_cloud {
  background-color: #222831;
  position: absolute;
  left: 70%;
  top: 50px;
}

.bottom_cloud {
  background-color: #222831;
  position: absolute;
  left: 30%;
}

.webdeveloper {
  width: 10%;
  position: absolute;
  left: 35%;
  bottom: 200px;
}

.csss {
  width: 10%;
  position: absolute;
  right: 10%;
  bottom: 5px;
}

.batter {
  width: 10%;
  position: absolute;
  left: 35%;


}

.photo {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 25px;
  border-radius: 10;
}

.follow {
  background-color: #00adb5;
  -webkit-border-top-left-radius: 28px;
  -moz-border-radius-topleft: 28px;
  border-top-left-radius: 28px;
  -webkit-border-top-right-radius: 28px;
  -moz-border-radius-topright: 28px;
  border-top-right-radius: 28px;
  -webkit-border-bottom-right-radius: 28px;
  -moz-border-radius-bottomright: 28px;
  border-bottom-right-radius: 28px;
  -webkit-border-bottom-left-radius: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-bottom-left-radius: 28px;
  text-indent: 0;
  border: 1px solid #4807bf;
  display: inline-block;
  color: #1f0f1f;
  font-family: Arial Black;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  height: 42px;
  line-height: 42px;
  width: 165px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #19b800;
  margin-bottom: 10px;
}

.follow:hover {
  background-color: #12cad6;
}

.follow:active {
  padding-top: 2px;
}
